@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}
html {
 height: 100%;
 width: 100%;
 scroll-padding-top: 4rem;
 scroll-padding-bottom: 4rem;
 scroll-behavior: smooth;
 overscroll-behavior: contain;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background-color: #E5DFDE;
}

iframe {
 width: 100%;
}

h1 {
font-size: 1.25rem/* 20px */;
line-height: 1.75rem/* 28px */;
font-weight: 700;
}

h2 {
font-size: 1.25rem/* 20px */;
line-height: 1.75rem/* 28px */;
font-weight: 700;
text-transform: uppercase;
}

.google-map {
  border-style: none;
}

.background-paralax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-image-themida-statue {
  background-image: url('/themida-statue.jpg');
}

.bg-image-library-head-ladder {
  background-image: url('/library-head-ladder.jpg');
}

.bg-image-library-round-ladder {
  background-image: url('/library-round-ladder.jpg');
}

.bg-image-library-straight-ladder {
  background-image: url('/library-straight-ladder.jpg');
}

.bg-image-courthouse {
  background-image: url('/courthouse.jpg');
}